logicapps/workflows/auth_cancellation/workflow.json
{
  "definition": {
    "$schema": "https://schema.management.azure.com/schemas/2023-01-31-preview/workflowdefinition.json#",
    "contentVersion": "1.0.0.0",
    "triggers": {
      "HTTP_Authorization_Cancellation_Request": {
        "type": "Request",
        "kind": "Http",
        "inputs": {
          "schema": {
            "type": "object",
            "properties": {
              "authorizationNumber": {"type": "string"},
              "patient": {
                "type": "object",
                "properties": {
                  "memberId": {"type": "string"}
                },
                "required": ["memberId"]
              },
              "cancellationReason": {"type": "string"}
            },
            "required": ["authorizationNumber", "patient", "cancellationReason"]
          }
        }
      }
    },
    "actions": {
      "Try_Process_Cancellation": {
        "type": "Scope",
        "actions": {
          "Check_Cancellation_Supported": {
            "type": "If",
            "expression": {
              "and": [
                {
                  "equals": [
                    "@parameters('cancellations_supported')",
                    true
                  ]
                }
              ]
            },
            "actions": {
              "Get_Original_Authorization": {
                "type": "Http",
                "inputs": {
                  "method": "GET",
                  "uri": "@{parameters('auth_lookup_api_url')}/authorizations/@{triggerBody()?['authorizationNumber']}",
                  "headers": {
                    "Authorization": "Bearer @{parameters('API_TOKEN')}"
                  }
                },
                "runtimeConfiguration": {
                  "retry": {
                    "count": 3,
                    "type": "fixed",
                    "interval": "PT10S"
                  }
                },
                "runAfter": {}
              },
              "Check_Status_Allows_Cancellation": {
                "type": "If",
                "expression": {
                  "or": [
                    {
                      "equals": [
                        "@body('Get_Original_Authorization')?['status']",
                        "PENDED"
                      ]
                    },
                    {
                      "equals": [
                        "@body('Get_Original_Authorization')?['status']",
                        "APPROVED"
                      ]
                    },
                    {
                      "contains": [
                        "@parameters('cancellation_allowed_statuses')",
                        "@body('Get_Original_Authorization')?['status']"
                      ]
                    }
                  ]
                },
                "actions": {
                  "Transform_Cancellation_to_X12_278": {
                    "type": "Compose",
                    "inputs": {
                      "interchange": {
                        "ISA": {
                          "ISA05": "ZZ",
                          "ISA06": "@{padRight(parameters('x12_sender_id'), 15)}",
                          "ISA07": "ZZ",
                          "ISA08": "@{padRight(parameters('x12_receiver_id'), 15)}",
                          "ISA09": "@{formatDateTime(utcNow(), 'yyMMdd')}",
                          "ISA10": "@{formatDateTime(utcNow(), 'HHmm')}"
                        },
                        "GS": {
                          "GS01": "HS",
                          "GS02": "@parameters('x12_sender_id')",
                          "GS03": "@parameters('x12_receiver_id')",
                          "GS04": "@{formatDateTime(utcNow(), 'yyyyMMdd')}",
                          "GS05": "@{formatDateTime(utcNow(), 'HHmm')}"
                        }
                      },
                      "transaction": {
                        "ST": {
                          "ST01": "278",
                          "ST02": "0001"
                        },
                        "BHT": {
                          "BHT01": "0007",
                          "BHT02": "13",
                          "BHT03": "@{guid()}",
                          "BHT04": "@{formatDateTime(utcNow(), 'yyyyMMdd')}",
                          "BHT05": "@{formatDateTime(utcNow(), 'HHmmss')}",
                          "BHT06": "RQ"
                        },
                        "HL_2000A": {
                          "HL": {
                            "HL01": "1",
                            "HL03": "20"
                          },
                          "UM": {
                            "UM01": "@{body('Get_Original_Authorization')?['umCode']}",
                            "UM02": "3"
                          },
                          "NM1_IL": {
                            "NM101": "IL",
                            "NM108": "MI",
                            "NM109": "@{triggerBody()?['patient']?['memberId']}"
                          },
                          "REF_D9": {
                            "REF01": "D9",
                            "REF02": "@{triggerBody()?['authorizationNumber']}"
                          },
                          "REF_4N": {
                            "REF01": "4N",
                            "REF02": "@{triggerBody()?['cancellationReason']}"
                          },
                          "TRN": {
                            "TRN01": "1",
                            "TRN02": "@{guid()}"
                          }
                        }
                      }
                    },
                    "runAfter": {}
                  },
                  "Encode_X12_278_Cancellation": {
                    "type": "ApiConnection",
                    "inputs": {
                      "host": {
                        "connection": {
                          "name": "@parameters('$connections')['integrationaccount']['connectionId']"
                        }
                      },
                      "method": "post",
                      "path": "/encode/edi",
                      "body": {
                        "content": "@outputs('Transform_Cancellation_to_X12_278')",
                        "contentType": "application/edi-x12",
                        "agreementType": "X12",
                        "messageType": "@parameters('x12_278_x217_messagetype')",
                        "senderId": "@parameters('x12_sender_id')",
                        "receiverId": "@parameters('x12_receiver_id')"
                      }
                    },
                    "runAfter": {
                      "Transform_Cancellation_to_X12_278": [
                        "Succeeded"
                      ]
                    }
                  },
                  "Archive_Cancellation_Request": {
                    "type": "ApiConnection",
                    "inputs": {
                      "host": {
                        "connection": {
                          "name": "@parameters('$connections')['azureblob']['connectionId']"
                        }
                      },
                      "method": "post",
                      "path": "/datasets/@{encodeURIComponent(parameters('blob_storage_account'))}/files",
                      "queries": {
                        "folderPath": "@concat(parameters('blob_auth_requests_folder'), '/cancellations/', formatDateTime(utcNow(), 'yyyy/MM/dd'))",
                        "name": "278-cancellation-@{triggerBody()?['authorizationNumber']}-@{guid()}.edi"
                      },
                      "body": "@body('Encode_X12_278_Cancellation')"
                    },
                    "runAfter": {
                      "Encode_X12_278_Cancellation": [
                        "Succeeded"
                      ]
                    }
                  },
                  "POST_Cancellation_to_Payer": {
                    "type": "Http",
                    "inputs": {
                      "method": "POST",
                      "uri": "@parameters('payer_auth_endpoint_url')",
                      "headers": {
                        "Content-Type": "application/edi-x12",
                        "Authorization": "Bearer @{parameters('API_TOKEN')}"
                      },
                      "body": "@body('Encode_X12_278_Cancellation')"
                    },
                    "runtimeConfiguration": {
                      "retry": {
                        "count": 3,
                        "type": "fixed",
                        "interval": "PT15S"
                      }
                    },
                    "runAfter": {
                      "Archive_Cancellation_Request": [
                        "Succeeded"
                      ]
                    }
                  },
                  "Parse_Cancellation_Response": {
                    "type": "ApiConnection",
                    "inputs": {
                      "host": {
                        "connection": {
                          "name": "@parameters('$connections')['integrationaccount']['connectionId']"
                        }
                      },
                      "method": "post",
                      "path": "/decode/edi",
                      "body": {
                        "content": "@base64(body('POST_Cancellation_to_Payer'))",
                        "contentType": "application/edi-x12",
                        "agreementType": "X12",
                        "messageType": "@parameters('x12_278_x217_messagetype')",
                        "senderId": "@parameters('x12_receiver_id')",
                        "receiverId": "@parameters('x12_sender_id')"
                      }
                    },
                    "runAfter": {
                      "POST_Cancellation_to_Payer": [
                        "Succeeded"
                      ]
                    }
                  },
                  "Extract_Cancellation_Response": {
                    "type": "Compose",
                    "inputs": {
                      "authorizationNumber": "@{triggerBody()?['authorizationNumber']}",
                      "cancellationStatus": "@if(contains('A1,A7', body('Parse_Cancellation_Response')?['interchanges']?[0]?['groups']?[0]?['transactions']?[0]?['segments']?['STC']?[0]?['STC01_1']), 'CANCELLED', 'FAILED')",
                      "certificationTypeCode": "@{body('Parse_Cancellation_Response')?['interchanges']?[0]?['groups']?[0]?['transactions']?[0]?['segments']?['STC']?[0]?['STC01_1']}",
                      "cancellationReason": "@{triggerBody()?['cancellationReason']}",
                      "cancellationDate": "@{formatDateTime(utcNow(), 'yyyy-MM-dd')}"
                    },
                    "runAfter": {
                      "Parse_Cancellation_Response": [
                        "Succeeded"
                      ]
                    }
                  },
                  "Log_Cancellation_Success": {
                    "type": "ApiConnection",
                    "inputs": {
                      "host": {
                        "connection": {
                          "name": "@parameters('$connections')['applicationinsights']['connectionId']"
                        }
                      },
                      "method": "post",
                      "path": "/events/customEvent",
                      "body": {
                        "eventName": "Authorization_Cancellation_Processed",
                        "properties": {
                          "authorizationNumber": "@triggerBody()?['authorizationNumber']",
                          "cancellationStatus": "@outputs('Extract_Cancellation_Response')?['cancellationStatus']",
                          "memberId": "@triggerBody()?['patient']?['memberId']",
                          "cancellationReason": "@triggerBody()?['cancellationReason']"
                        }
                      }
                    },
                    "runAfter": {
                      "Extract_Cancellation_Response": [
                        "Succeeded"
                      ]
                    }
                  }
                },
                "runAfter": {
                  "Get_Original_Authorization": [
                    "Succeeded"
                  ]
                },
                "else": {
                  "actions": {
                    "Return_Status_Not_Allowed": {
                      "type": "Response",
                      "kind": "Http",
                      "inputs": {
                        "statusCode": 400,
                        "body": {
                          "status": "ERROR",
                          "error": "Cancellations not allowed for authorization in current status",
                          "currentStatus": "@body('Get_Original_Authorization')?['status']",
                          "allowedStatuses": "@parameters('cancellation_allowed_statuses')"
                        }
                      },
                      "runAfter": {}
                    }
                  }
                }
              },
              "Return_Cancellation_Success": {
                "type": "Response",
                "kind": "Http",
                "inputs": {
                  "statusCode": 200,
                  "body": "@outputs('Extract_Cancellation_Response')"
                },
                "runAfter": {
                  "Check_Status_Allows_Cancellation": [
                    "Succeeded"
                  ]
                }
              }
            },
            "runAfter": {},
            "else": {
              "actions": {
                "Return_Not_Supported": {
                  "type": "Response",
                  "kind": "Http",
                  "inputs": {
                    "statusCode": 400,
                    "body": {
                      "status": "ERROR",
                      "error": "Cancellations are not supported by payer configuration"
                    }
                  },
                  "runAfter": {}
                }
              }
            }
          }
        },
        "runAfter": {}
      },
      "Catch_Cancellation_Error": {
        "type": "Scope",
        "actions": {
          "Log_Error": {
            "type": "ApiConnection",
            "inputs": {
              "host": {
                "connection": {
                  "name": "@parameters('$connections')['applicationinsights']['connectionId']"
                }
              },
              "method": "post",
              "path": "/events/customEvent",
              "body": {
                "eventName": "Authorization_Cancellation_Error",
                "properties": {
                  "errorMessage": "@{result('Try_Process_Cancellation')?[0]?['error']?['message']}",
                  "authorizationNumber": "@{triggerBody()?['authorizationNumber']}"
                }
              }
            },
            "runAfter": {}
          },
          "Return_Error_Response": {
            "type": "Response",
            "kind": "Http",
            "inputs": {
              "statusCode": 500,
              "body": {
                "status": "ERROR",
                "error": "@{result('Try_Process_Cancellation')?[0]?['error']?['message']}"
              }
            },
            "runAfter": {
              "Log_Error": [
                "Succeeded"
              ]
            }
          }
        },
        "runAfter": {
          "Try_Process_Cancellation": [
            "Failed",
            "Skipped",
            "TimedOut"
          ]
        }
      }
    },
    "outputs": {}
  },
  "kind": "Stateful",
  "parameters": {
    "_SECURITY_NOTE": {
      "type": "String",
      "defaultValue": "SECURITY: Do NOT store secrets in workflow JSON."
    },
    "$connections": {
      "type": "Object",
      "defaultValue": {}
    },
    "blob_storage_account": {
      "type": "String",
      "defaultValue": "default"
    },
    "blob_auth_requests_folder": {
      "type": "String",
      "defaultValue": "hipaa-attachments/raw/auth-requests"
    },
    "auth_lookup_api_url": {
      "type": "String",
      "defaultValue": "https://auth-lookup.api.local"
    },
    "payer_auth_endpoint_url": {
      "type": "String",
      "defaultValue": "https://payer-prod.example.com/auth"
    },
    "cancellations_supported": {
      "type": "Bool",
      "defaultValue": true
    },
    "cancellation_allowed_statuses": {
      "type": "Array",
      "defaultValue": ["PENDED", "APPROVED"]
    },
    "API_TOKEN": {
      "type": "SecureString"
    },
    "x12_sender_id": {
      "type": "String",
      "defaultValue": "66917"
    },
    "x12_receiver_id": {
      "type": "String",
      "defaultValue": "030240928"
    },
    "x12_278_x217_messagetype": {
      "type": "String",
      "defaultValue": "X12_005010X217_278"
    }
  }
}
