logicapps/workflows/ecs_summary_search/workflow.json
{
  "definition": {
    "$schema": "https://schema.management.azure.com/schemas/2023-01-31-preview/workflowdefinition.json#",
    "contentVersion": "1.0.0.0",
    "triggers": {
      "HTTP_ECS_Summary_Search_Request": {
        "type": "Request",
        "kind": "Http",
        "inputs": {
          "schema": {
            "type": "object",
            "required": ["searchMethod", "requestId"],
            "properties": {
              "searchMethod": {
                "type": "string",
                "enum": ["ServiceDate", "Member", "CheckNumber", "ClaimHistory"]
              },
              "requestId": {
                "type": "string"
              },
              "submitterId": {
                "type": "string"
              },
              "serviceDateSearch": {
                "type": "object"
              },
              "memberSearch": {
                "type": "object"
              },
              "checkNumberSearch": {
                "type": "object"
              },
              "claimHistorySearch": {
                "type": "object"
              }
            }
          }
        }
      }
    },
    "actions": {
      "Try_Process_ECS_Search": {
        "type": "Scope",
        "actions": {
          "Log_ECS_Request_Received": {
            "type": "ApiConnection",
            "runAfter": {},
            "inputs": {
              "host": {
                "connection": {
                  "name": "@parameters('$connections')['appinsights']['connectionId']"
                }
              },
              "method": "post",
              "path": "/v2/track",
              "body": {
                "name": "ECSSearchRequestReceived",
                "properties": {
                  "requestId": "@triggerBody()?['requestId']",
                  "searchMethod": "@triggerBody()?['searchMethod']",
                  "submitterId": "@triggerBody()?['submitterId']",
                  "timestamp": "@utcNow()"
                }
              }
            }
          },
          "Validate_Request_Schema": {
            "type": "Compose",
            "runAfter": {
              "Log_ECS_Request_Received": [
                "Succeeded"
              ]
            },
            "inputs": "@triggerBody()"
          },
          "Determine_Search_Method": {
            "type": "Switch",
            "runAfter": {
              "Validate_Request_Schema": [
                "Succeeded"
              ]
            },
            "expression": "@triggerBody()?['searchMethod']",
            "cases": {
              "ServiceDate": {
                "case": "ServiceDate",
                "actions": {
                  "Extract_ServiceDate_Parameters": {
                    "type": "Compose",
                    "runAfter": {},
                    "inputs": {
                      "serviceFromDate": "@triggerBody()?['serviceDateSearch']?['serviceFromDate']",
                      "serviceToDate": "@triggerBody()?['serviceDateSearch']?['serviceToDate']",
                      "providerId": "@triggerBody()?['serviceDateSearch']?['providerId']",
                      "providerIdQualifier": "@coalesce(triggerBody()?['serviceDateSearch']?['providerIdQualifier'], 'NPI')"
                    }
                  },
                  "Query_QNXT_by_ServiceDate": {
                    "type": "Http",
                    "runAfter": {
                      "Extract_ServiceDate_Parameters": [
                        "Succeeded"
                      ]
                    },
                    "inputs": {
                      "method": "POST",
                      "uri": "@{parameters('qnxt_base_url')}/api/v1/claims/search/service-date",
                      "headers": {
                        "Content-Type": "application/json",
                        "Authorization": "Bearer @{parameters('qnxt_api_token')}"
                      },
                      "body": {
                        "serviceFromDate": "@outputs('Extract_ServiceDate_Parameters')?['serviceFromDate']",
                        "serviceToDate": "@outputs('Extract_ServiceDate_Parameters')?['serviceToDate']",
                        "providerId": "@outputs('Extract_ServiceDate_Parameters')?['providerId']",
                        "providerIdQualifier": "@outputs('Extract_ServiceDate_Parameters')?['providerIdQualifier']"
                      },
                      "retryPolicy": {
                        "type": "fixed",
                        "count": 4,
                        "interval": "PT15S"
                      }
                    }
                  },
                  "Set_ServiceDate_Results": {
                    "type": "SetVariable",
                    "runAfter": {
                      "Query_QNXT_by_ServiceDate": [
                        "Succeeded"
                      ]
                    },
                    "inputs": {
                      "name": "qnxtResults",
                      "value": "@body('Query_QNXT_by_ServiceDate')"
                    }
                  }
                }
              },
              "Member": {
                "case": "Member",
                "actions": {
                  "Extract_Member_Parameters": {
                    "type": "Compose",
                    "runAfter": {},
                    "inputs": {
                      "memberId": "@triggerBody()?['memberSearch']?['memberId']",
                      "firstName": "@triggerBody()?['memberSearch']?['firstName']",
                      "lastName": "@triggerBody()?['memberSearch']?['lastName']",
                      "dateOfBirth": "@triggerBody()?['memberSearch']?['dateOfBirth']",
                      "serviceFromDate": "@triggerBody()?['memberSearch']?['serviceFromDate']",
                      "serviceToDate": "@triggerBody()?['memberSearch']?['serviceToDate']"
                    }
                  },
                  "Query_QNXT_by_Member": {
                    "type": "Http",
                    "runAfter": {
                      "Extract_Member_Parameters": [
                        "Succeeded"
                      ]
                    },
                    "inputs": {
                      "method": "POST",
                      "uri": "@{parameters('qnxt_base_url')}/api/v1/claims/search/member",
                      "headers": {
                        "Content-Type": "application/json",
                        "Authorization": "Bearer @{parameters('qnxt_api_token')}"
                      },
                      "body": {
                        "memberId": "@outputs('Extract_Member_Parameters')?['memberId']",
                        "firstName": "@outputs('Extract_Member_Parameters')?['firstName']",
                        "lastName": "@outputs('Extract_Member_Parameters')?['lastName']",
                        "dateOfBirth": "@outputs('Extract_Member_Parameters')?['dateOfBirth']",
                        "serviceFromDate": "@outputs('Extract_Member_Parameters')?['serviceFromDate']",
                        "serviceToDate": "@outputs('Extract_Member_Parameters')?['serviceToDate']"
                      },
                      "retryPolicy": {
                        "type": "fixed",
                        "count": 4,
                        "interval": "PT15S"
                      }
                    }
                  },
                  "Set_Member_Results": {
                    "type": "SetVariable",
                    "runAfter": {
                      "Query_QNXT_by_Member": [
                        "Succeeded"
                      ]
                    },
                    "inputs": {
                      "name": "qnxtResults",
                      "value": "@body('Query_QNXT_by_Member')"
                    }
                  }
                }
              },
              "CheckNumber": {
                "case": "CheckNumber",
                "actions": {
                  "Extract_CheckNumber_Parameters": {
                    "type": "Compose",
                    "runAfter": {},
                    "inputs": {
                      "checkNumber": "@triggerBody()?['checkNumberSearch']?['checkNumber']",
                      "payerId": "@triggerBody()?['checkNumberSearch']?['payerId']",
                      "checkDate": "@triggerBody()?['checkNumberSearch']?['checkDate']"
                    }
                  },
                  "Query_QNXT_by_CheckNumber": {
                    "type": "Http",
                    "runAfter": {
                      "Extract_CheckNumber_Parameters": [
                        "Succeeded"
                      ]
                    },
                    "inputs": {
                      "method": "POST",
                      "uri": "@{parameters('qnxt_base_url')}/api/v1/claims/search/check-number",
                      "headers": {
                        "Content-Type": "application/json",
                        "Authorization": "Bearer @{parameters('qnxt_api_token')}"
                      },
                      "body": {
                        "checkNumber": "@outputs('Extract_CheckNumber_Parameters')?['checkNumber']",
                        "payerId": "@outputs('Extract_CheckNumber_Parameters')?['payerId']",
                        "checkDate": "@outputs('Extract_CheckNumber_Parameters')?['checkDate']"
                      },
                      "retryPolicy": {
                        "type": "fixed",
                        "count": 4,
                        "interval": "PT15S"
                      }
                    }
                  },
                  "Set_CheckNumber_Results": {
                    "type": "SetVariable",
                    "runAfter": {
                      "Query_QNXT_by_CheckNumber": [
                        "Succeeded"
                      ]
                    },
                    "inputs": {
                      "name": "qnxtResults",
                      "value": "@body('Query_QNXT_by_CheckNumber')"
                    }
                  }
                }
              },
              "ClaimHistory": {
                "case": "ClaimHistory",
                "actions": {
                  "Extract_ClaimHistory_Parameters": {
                    "type": "Compose",
                    "runAfter": {},
                    "inputs": {
                      "claimNumber": "@triggerBody()?['claimHistorySearch']?['claimNumber']",
                      "patientAccountNumber": "@triggerBody()?['claimHistorySearch']?['patientAccountNumber']",
                      "memberId": "@triggerBody()?['claimHistorySearch']?['memberId']"
                    }
                  },
                  "Query_QNXT_by_ClaimHistory": {
                    "type": "Http",
                    "runAfter": {
                      "Extract_ClaimHistory_Parameters": [
                        "Succeeded"
                      ]
                    },
                    "inputs": {
                      "method": "POST",
                      "uri": "@{parameters('qnxt_base_url')}/api/v1/claims/search/claim-history",
                      "headers": {
                        "Content-Type": "application/json",
                        "Authorization": "Bearer @{parameters('qnxt_api_token')}"
                      },
                      "body": {
                        "claimNumber": "@outputs('Extract_ClaimHistory_Parameters')?['claimNumber']",
                        "patientAccountNumber": "@outputs('Extract_ClaimHistory_Parameters')?['patientAccountNumber']",
                        "memberId": "@outputs('Extract_ClaimHistory_Parameters')?['memberId']"
                      },
                      "retryPolicy": {
                        "type": "fixed",
                        "count": 4,
                        "interval": "PT15S"
                      }
                    }
                  },
                  "Set_ClaimHistory_Results": {
                    "type": "SetVariable",
                    "runAfter": {
                      "Query_QNXT_by_ClaimHistory": [
                        "Succeeded"
                      ]
                    },
                    "inputs": {
                      "name": "qnxtResults",
                      "value": "@body('Query_QNXT_by_ClaimHistory')"
                    }
                  }
                }
              }
            },
            "default": {
              "actions": {
                "Invalid_Search_Method": {
                  "type": "Compose",
                  "runAfter": {},
                  "inputs": {
                    "error": "Invalid search method specified",
                    "searchMethod": "@triggerBody()?['searchMethod']"
                  }
                }
              }
            }
          },
          "Map_ValueAdds277_Fields": {
            "type": "Compose",
            "runAfter": {
              "Determine_Search_Method": [
                "Succeeded"
              ]
            },
            "inputs": {
              "enrichedClaims": "@body('Map_Claims_with_ValueAdds277')"
            },
            "description": "Enriches QNXT claims with ValueAdds277 fields including financial, clinical, demographic, remittance data, and integration flags"
          },
          "Map_Claims_with_ValueAdds277": {
            "type": "Select",
            "runAfter": {
              "Determine_Search_Method": [
                "Succeeded"
              ]
            },
            "inputs": {
              "from": "@variables('qnxtResults')?['claims']",
              "select": {
                "claimNumber": "@item()?['claimNumber']",
                "patientAccountNumber": "@item()?['patientAccountNumber']",
                "claimStatus": "@item()?['claimStatus']",
                "claimStatusCode": "@item()?['claimStatusCode']",
                "claimStatusCategory": "@item()?['claimStatusCategory']",
                "statusCode": "@if(parameters('includeClinicalFields'), item()?['statusCode'], null())",
                "statusCodeDescription": "@if(parameters('includeClinicalFields'), item()?['statusCodeDescription'], null())",
                "serviceFromDate": "@item()?['serviceFromDate']",
                "serviceToDate": "@item()?['serviceToDate']",
                "receivedDate": "@item()?['receivedDate']",
                "processedDate": "@item()?['processedDate']",
                "finalizedDate": "@if(parameters('includeClinicalFields'), item()?['finalizedDate'], null())",
                "effectiveDate": "@coalesce(item()?['effectiveDate'], item()?['processedDate'], utcNow())",
                "exchangeDate": "@if(parameters('includeClinicalFields'), utcNow(), null())",
                "paidDate": "@item()?['paidDate']",
                "billedAmount": "@item()?['billedAmount']",
                "BILLED": "@if(parameters('includeFinancialFields'), coalesce(item()?['BILLED'], item()?['billedAmount']), null())",
                "allowedAmount": "@item()?['allowedAmount']",
                "ALLOWED": "@if(parameters('includeFinancialFields'), coalesce(item()?['ALLOWED'], item()?['allowedAmount']), null())",
                "paidAmount": "@item()?['paidAmount']",
                "INSURANCE_TOTAL_PAID": "@if(parameters('includeFinancialFields'), coalesce(item()?['INSURANCE_TOTAL_PAID'], item()?['paidAmount']), null())",
                "patientResponsibility": "@item()?['patientResponsibility']",
                "PATIENT_RESPONSIBILITY": "@if(parameters('includeFinancialFields'), coalesce(item()?['PATIENT_RESPONSIBILITY'], item()?['patientResponsibility']), null())",
                "COPAY": "@if(parameters('includeFinancialFields'), item()?['COPAY'], null())",
                "COINSURANCE": "@if(parameters('includeFinancialFields'), item()?['COINSURANCE'], null())",
                "DEDUCTIBLE": "@if(parameters('includeFinancialFields'), item()?['DEDUCTIBLE'], null())",
                "DISCOUNT": "@if(parameters('includeFinancialFields'), item()?['DISCOUNT'], null())",
                "adjustmentAmount": "@item()?['adjustmentAmount']",
                "payerId": "@item()?['payerId']",
                "payerName": "@item()?['payerName']",
                "providerId": "@item()?['providerId']",
                "providerName": "@item()?['providerName']",
                "memberId": "@item()?['memberId']",
                "memberName": "@item()?['memberName']",
                "checkNumber": "@item()?['checkNumber']",
                "checkDate": "@item()?['checkDate']",
                "remarkCodes": "@item()?['remarkCodes']",
                "reasonCodes": "@item()?['reasonCodes']",
                "code": "@if(parameters('includeClinicalFields'), coalesce(item()?['code'], item()?['reasonCodes']), null())",
                "statusDetails": "@item()?['statusDetails']",
                "comment": "@if(parameters('includeClinicalFields'), coalesce(item()?['comment'], item()?['statusDetails']), null())",
                "drgCode": "@if(parameters('includeClinicalFields'), item()?['drgCode'], null())",
                "facilityTypeCodeDescription": "@if(parameters('includeClinicalFields'), item()?['facilityTypeCodeDescription'], null())",
                "diagnosisCodes": "@if(parameters('includeClinicalFields'), item()?['diagnosisCodes'], null())",
                "payeeName": "@if(parameters('includeRemittanceFields'), item()?['payeeName'], null())",
                "checkCashedDate": "@if(parameters('includeRemittanceFields'), item()?['checkCashedDate'], null())",
                "checkAmount": "@if(parameters('includeRemittanceFields'), coalesce(item()?['checkAmount'], item()?['paidAmount']), null())",
                "patient": "@if(parameters('includeDemographicFields'), json(concat('{\"lastName\":\"', coalesce(item()?['patient']?['lastName'], item()?['memberName']), '\",\"firstName\":\"', coalesce(item()?['patient']?['firstName'], ''), '\",\"middleName\":\"', coalesce(item()?['patient']?['middleName'], ''), '\",\"suffix\":\"', coalesce(item()?['patient']?['suffix'], ''), '\",\"birthdate\":\"', coalesce(item()?['patient']?['birthdate'], ''), '\",\"memberId\":\"', coalesce(item()?['patient']?['memberId'], item()?['memberId']), '\",\"gender\":\"', coalesce(item()?['patient']?['gender'], ''), '\"}')), null())",
                "subscriber": "@if(parameters('includeDemographicFields'), item()?['subscriber'], null())",
                "billingProvider": "@if(parameters('includeDemographicFields'), item()?['billingProvider'], null())",
                "renderingProvider": "@if(parameters('includeDemographicFields'), item()?['renderingProvider'], null())",
                "serviceLines": "@if(parameters('includeServiceLineDetails'), item()?['serviceLines'], null())",
                "eligibleForAttachment": "@if(parameters('includeIntegrationFlags'), or(equals(item()?['claimStatus'], 'Pending'), equals(item()?['claimStatus'], 'In Process'), equals(item()?['claimStatus'], 'Suspended')), null())",
                "eligibleForChat": "@if(parameters('includeIntegrationFlags'), coalesce(item()?['eligibleForChat'], false()), null())",
                "eligibleForCorrection": "@if(parameters('includeIntegrationFlags'), or(equals(item()?['claimStatus'], 'Denied'), contains(item()?['claimStatus'], 'Rejected')), null())",
                "eligibleForMessaging": "@if(parameters('includeIntegrationFlags'), coalesce(item()?['eligibleForMessaging'], true()), null())",
                "eligibleForAppeal": "@if(parameters('includeIntegrationFlags'), or(equals(item()?['claimStatus'], 'Denied'), equals(item()?['claimStatus'], 'Partially Paid')), null())",
                "eligibleForRemittanceViewer": "@if(parameters('includeIntegrationFlags'), or(equals(item()?['claimStatus'], 'Paid'), equals(item()?['claimStatus'], 'Partially Paid')), null())",
                "appealMessage": "@if(and(parameters('includeIntegrationFlags'), or(equals(item()?['claimStatus'], 'Denied'), equals(item()?['claimStatus'], 'Partially Paid'))), concat('This claim may be eligible for appeal. Timely filing deadline: ', coalesce(item()?['appealTimelyFilingDate'], addDays(coalesce(item()?['finalizedDate'], item()?['processedDate'], utcNow()), 180))), null())",
                "appealType": "@if(and(parameters('includeIntegrationFlags'), or(equals(item()?['claimStatus'], 'Denied'), equals(item()?['claimStatus'], 'Partially Paid'))), 'Reconsideration', null())",
                "appealTimelyFilingDate": "@if(and(parameters('includeIntegrationFlags'), or(equals(item()?['claimStatus'], 'Denied'), equals(item()?['claimStatus'], 'Partially Paid'))), coalesce(item()?['appealTimelyFilingDate'], addDays(coalesce(item()?['finalizedDate'], item()?['processedDate'], utcNow()), 180)), null())"
              }
            },
            "description": "Maps each claim from QNXT to ValueAdds277 format with all enhanced fields"
          },
          "Transform_QNXT_to_Availity_ECS_Format": {
            "type": "Compose",
            "runAfter": {
              "Map_ValueAdds277_Fields": [
                "Succeeded"
              ]
            },
            "inputs": {
              "requestId": "@triggerBody()?['requestId']",
              "status": "success",
              "timestamp": "@utcNow()",
              "searchMethod": "@triggerBody()?['searchMethod']",
              "totalResults": "@length(body('Map_Claims_with_ValueAdds277'))",
              "claims": "@body('Map_Claims_with_ValueAdds277')"
            }
          },
          "Log_ECS_Search_Success": {
            "type": "ApiConnection",
            "runAfter": {
              "Transform_QNXT_to_Availity_ECS_Format": [
                "Succeeded"
              ]
            },
            "inputs": {
              "host": {
                "connection": {
                  "name": "@parameters('$connections')['appinsights']['connectionId']"
                }
              },
              "method": "post",
              "path": "/v2/track",
              "body": {
                "name": "ECSSearchSuccess",
                "properties": {
                  "requestId": "@triggerBody()?['requestId']",
                  "searchMethod": "@triggerBody()?['searchMethod']",
                  "totalResults": "@length(variables('qnxtResults')?['claims'])",
                  "timestamp": "@utcNow()"
                }
              }
            }
          },
          "Response_Success": {
            "type": "Response",
            "kind": "Http",
            "runAfter": {
              "Log_ECS_Search_Success": [
                "Succeeded"
              ]
            },
            "inputs": {
              "statusCode": 200,
              "headers": {
                "Content-Type": "application/json"
              },
              "body": "@outputs('Transform_QNXT_to_Availity_ECS_Format')"
            }
          }
        }
      },
      "Catch_ECS_Search_Error": {
        "type": "Scope",
        "runAfter": {
          "Try_Process_ECS_Search": [
            "Failed",
            "TimedOut",
            "Skipped"
          ]
        },
        "actions": {
          "Compose_Error_Response": {
            "type": "Compose",
            "runAfter": {},
            "inputs": {
              "requestId": "@triggerBody()?['requestId']",
              "status": "error",
              "timestamp": "@utcNow()",
              "searchMethod": "@triggerBody()?['searchMethod']",
              "totalResults": 0,
              "claims": [],
              "errors": [
                {
                  "errorCode": "ECS_SEARCH_ERROR",
                  "errorMessage": "An error occurred while processing the ECS search request",
                  "errorDetails": "@{result('Try_Process_ECS_Search')}"
                }
              ]
            }
          },
          "Log_ECS_Search_Error": {
            "type": "ApiConnection",
            "runAfter": {
              "Compose_Error_Response": [
                "Succeeded"
              ]
            },
            "inputs": {
              "host": {
                "connection": {
                  "name": "@parameters('$connections')['appinsights']['connectionId']"
                }
              },
              "method": "post",
              "path": "/v2/track",
              "body": {
                "name": "ECSSearchError",
                "properties": {
                  "requestId": "@triggerBody()?['requestId']",
                  "searchMethod": "@triggerBody()?['searchMethod']",
                  "errorDetails": "@{result('Try_Process_ECS_Search')}",
                  "timestamp": "@utcNow()"
                }
              }
            }
          },
          "Response_Error": {
            "type": "Response",
            "kind": "Http",
            "runAfter": {
              "Log_ECS_Search_Error": [
                "Succeeded"
              ]
            },
            "inputs": {
              "statusCode": 500,
              "headers": {
                "Content-Type": "application/json"
              },
              "body": "@outputs('Compose_Error_Response')"
            }
          }
        }
      }
    },
    "parameters": {
      "$connections": {
        "type": "Object",
        "defaultValue": {}
      },
      "qnxt_base_url": {
        "type": "String",
        "defaultValue": "https://qnxt-api.example.com"
      },
      "qnxt_api_token": {
        "type": "SecureString"
      },
      "includeFinancialFields": {
        "type": "Bool",
        "defaultValue": true
      },
      "includeClinicalFields": {
        "type": "Bool",
        "defaultValue": true
      },
      "includeDemographicFields": {
        "type": "Bool",
        "defaultValue": true
      },
      "includeRemittanceFields": {
        "type": "Bool",
        "defaultValue": true
      },
      "includeIntegrationFlags": {
        "type": "Bool",
        "defaultValue": true
      },
      "includeServiceLineDetails": {
        "type": "Bool",
        "defaultValue": true
      }
    },
    "variables": {
      "qnxtResults": {
        "type": "Object",
        "value": {}
      }
    }
  },
  "kind": "Stateful",
  "parameters": {
    "$connections": {
      "value": {
        "appinsights": {
          "connectionId": "/subscriptions/{subscription-id}/resourceGroups/{resource-group}/providers/Microsoft.Web/connections/appinsights",
          "connectionName": "appinsights",
          "id": "/subscriptions/{subscription-id}/providers/Microsoft.Web/locations/{location}/managedApis/appinsights"
        }
      }
    },
    "qnxt_base_url": {
      "value": "https://qnxt-api.example.com"
    }
  }
}
